.home
  .img-wrap
    display block
    position relative
    img
      position absolute
      top 0
      lef 0
      width 100%

.info
  box-sizing border-box
  padding 5px
  overflow hidden
  h2
    font-size 16px
    clear both
    font-family varela_regular
    font-weight 100
    color gray(45)

.info-meta
  height 20px
  color gray(55)
  float left

  i
    color gray(30)
    margin-right 5px
    font-size 18px
    vertical-align middle

  span
    line-height 10px
    font-size 14px

.info-views
.info-favorites
.info-downloads
  float left
  width 70px
