_green = #2ecc71
_blue = #3498db

.container
  background darken(#fff, 8)
  width: 100%;
  height: 500px;
  padding: 40px 0 50px;

.test
  width: 200px;
  margin 0 auto

.btn
  width: 250px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight:300;
  display inline-block
  padding 15px 10px
  text-decoration none
  text-align center
  background: _green;
  color #fff
  //border-radius 3px
  font-size 16px
  vertical-align: middle;
  //box-shadow 0px 2px 6px -2px darken(#fff,40)
  box-shadow 0px 3px 8px -3px darken(#fff,40)
  border 1px solid darken(_green, 0)
  cursor pointer

.btn-login
  margin-top 25px
  letter-spacing: 6px;


  &:active
    margin-top 26px
    box-shadow none

  &:hover
    background lighten(_green, 4)


.form
  input
    width 242px
    padding 15px 14px 15px
    margin 0
    //border-radius 3px

    border-left 1px solid darken(#fff, 10)
    border-top 1px solid darken(#fff, 10)
    border-right 1px solid darken(#fff, 10)
    border-bottom 1px solid darken(#fff, 0)

    background #fff
    font-size 16px
    color darken(#fff, 35)
    font-weight 100
    box-shadow 0px 4px 8px -4px darken(#fff,40)

    &:focus
      border-color lighten(_blue, 25)
      box-shadow none
      transition border-color .1s cubic-bezier(.5, 0, 1, .5), box-shadow .2s cubic-bezier(.5, 0, 1, .5)
      outline none


  input[type='text']
    letter-spacing 2px

  input[type='password']
    letter-spacing 7px

  label
    display block
    font-size 16px
    padding 24px 0 8px
    color darken(#fff, 40)
    letter-spacing 1px
    font-weight 100

