@css{
  @font-face {
    font-family: "iconfont";
    src: url('../fonts/icons/iconfont.eot');
    src: url('../fonts/icons/iconfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/icons/iconfont.woff') format('woff'),
      url('../fonts/icons/iconfont.ttf') format('truetype'),
      url('../fonts/icons/iconfont.svg#iconfont') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  [class^="icon-"],
  [class*=" icon-"]{
    font-family: "iconfont";
    speak: none;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
    font-style: normal;
    line-height: 1;
    font-weight: normal;
    // position: relative;
    display inline-block
    /* Better Font Rendering =========== */
    -o-transform: scale(1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
}

.icon-chevron-left:before
  content "\ea01"

.icon-chevron-right:before
  content "\ea02"

.icon-close:before
  content "\ea03"

.icon-download:before
  content "\ea04"

.icon-eye:before
  content "\ea05"

.icon-favorite:before
  content "\ea06"

.icon-fullscreen:before
  content "\ea07"

.icon-link:before
  content "\ea08"

.icon-menu:before
  content "\ea09"

.icon-more-horiz:before
  content "\ea0a"

.icon-more-vert:before
  content "\ea0b"

.icon-search:before
  content "\ea0c"

.icon-zoom-in:before
  content "\ea0d"

.icon-zoom-out:before
  content "\ea0e"
