block vars

include includes/mixins

doctype
html(lang='es')
  head
    meta(charset='utf-8')
    title skel
    meta(name='description', content='skel boilerplate for frontend')
    meta(name='keywords', content='skel, frontend')
    meta(name="viewport", content="width=device-width, initial-scale=1")

    block styles
      link(href=static_url('styles/main.css'), rel='stylesheet' )

  body#body
    #page.page
      block page
        block header
          include includes/header
      
        section#content.content
          block content
      
        block footer
          include includes/footer
    
    block scripts
      //- script(data-main=static_url('scripts/main'), src=static_url('scripts/libs/require.js'))
      //- +analytics
