extends _layout

block content
  .container
    .test
      form.form
        label User
        input(type='text')
        label Password
        input(type='password')
        a.btn.btn-login LOGIN
