@css{
  @font-face {
      font-family: 'varela_regular';
      src: url('../fonts/varelaround-regular-webfont.eot');
      src: url('../fonts/varelaround-regular-webfont.eot?#iefix') format('embedded-opentype'),
           url('../fonts/varelaround-regular-webfont.woff2') format('woff2'),
           url('../fonts/varelaround-regular-webfont.woff') format('woff'),
           url('../fonts/varelaround-regular-webfont.ttf') format('truetype'),
           url('../fonts/varelaround-regular-webfont.svg#varela_roundregular') format('svg');
      font-weight: normal;
      font-style: normal;

  }
}
