@css{/* glue: 0.4 hash: 5f7881fd9c */
.icon-plus,
.icon-menu,
.icon-list,
.icon-lens,
.icon-hearth,
.icon-fullscreen,
.icon-eye,
.icon-cross,
.icon-arrow-right,
.icon-arrow-left{background-image:url('../images/sprites/icons.png');background-repeat:no-repeat}
.icon-plus{background-position:0px 0px;width:16px;height:16px;}
.icon-menu{background-position:-16px 0px;width:16px;height:16px;}
.icon-list{background-position:0px -16px;width:16px;height:16px;}
.icon-lens{background-position:-16px -16px;width:16px;height:16px;}
.icon-hearth{background-position:-32px 0px;width:16px;height:16px;}
.icon-fullscreen{background-position:-32px -16px;width:16px;height:16px;}
.icon-eye{background-position:0px -32px;width:16px;height:16px;}
.icon-cross{background-position:-16px -32px;width:16px;height:16px;}
.icon-arrow-right{background-position:-32px -32px;width:16px;height:16px;}
.icon-arrow-left{background-position:-48px 0px;width:16px;height:16px;}
}