//dev colors
_pink = #fe635f
_sky = #3eddc9
_purp = #9b59b6
_gray = #dad4bc
_brown = #4f443e
_orange = #f39c12
_green = #2ecc71
_blue = #3498db
_mage = #ff3a5e


//flat ui colors
_turquoise = #1abc9c
_green_sea = #16a085
_nephritis = #27ae60
_emerald = #2ecc71
_peter_river = #3498db
_belize_hole = #2980b9
_amethyst = #9b59b6
_wisteria = #8e44ad
_wet_asphalt = #34495e
_midnight_blue = #2c3e50
_concrete = #95a5a6
_asbestos = #7f8c8d
_silver = #bdc3c7
_clouds = #ecf0f1
_alizarin = #e74c3c
_pomegranate = #c0392b
_carrot = #e67e22
_pumpkin = #d35400
_orange = #f39c12
_sun_flower = #f1c40f
